################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode
/bin
/Debug
/x64/Debug
/obj
/fig
/x64/Release
/trace
/pthread.dll
/PropertySheet.props
/pre
/order
/实验记录.xlsx
/draw.py
/FMAlign2.sln
/FMAlign2.vcxproj.filters
/FMAlign2.vcxproj
/run_2.py
/run_1.py
/result.txt
/remove_gap.py
/output.fasta
/output.aligned.fasta
/FMAlign2.vcxproj.user
/chr1_h.fasta
/chain.o
/exp
/temp
/test
/src/gsacak.o
*.o
/bug
