################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode
/bin
/Debug
/x64/Debug
/obj
/fig
/x64/Release
/trace
/pthread.dll
/PropertySheet.props
/pre
/order
/实验记录.xlsx
